{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<html>
   <body>
            {% if user.is_authenticated %}
                <div class="page-container">
                    <h2 class="top-menu">Hello {{ user.username }},</h2>
                </div>
            {% else %}
                <br><br>
            {% endif %}
            <div class="content container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="links">
                            <!-- Example row of columns -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>
    </html>
{% endblock %}
