{% extends "base.html" %}
{% block content %}
    <br><br>

<div class="calendar">
    <div>
        <h2>Schedule for {{ prop_name }}</h2>
         <h2>Park: <a href="{{ prop_name.get_absolute_url }}">{{ prop_name }}</a></h2>
    </div>
	<a class="btn btn-info left" href="{% url 'reservSystem:prop_calendar'%}?{{ prop_pk }}&{{ prev_month }}"> Previous Month </a>&nbsp;&nbsp;&nbsp;
	<a class="btn btn-info" href="{% url 'reservSystem:prop_calendar'%}?{{ prop_pk }}&{{ next_month }}"> Next Month </a>
	<a class="btn btn-info right" href="{% url 'reservSystem:prop_event_new' %}?{{ prop_pk }}"> New Reservation </a>
    <br><br>
</div>
{{ calendar }}
<p class="calendar">
    <b>M1</b>- 6.00 am to 8.00 am;
    <b>M2</b>- 8.15 am to 10.15 am;
    <b>M3</b>- 10.30 am to 12.30 pm;
    <b>E1</b>- 3.00 pm to 5.00 pm;
    <b>E2</b>- 5.15 pm to 7.15 pm;
</p>
{% endblock %}