
{% load staticfiles %}
{% block content %}


{#<script type="text/javascript">#}
{#<!--#}
{#function myFunction() {#}
{##}
{#        $('.page-container').hide();#}
{##}
{#};#}
{##}
{#//-->#}
{#</script>#}


<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
<div class="container">
</div>
<div class="row">
    <h2 style="padding-left: 15Px">Park Information</h2>
</div>
<div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Park Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th colspan="1">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for park in parks %}
            <tr>
                <td>{{ park.park_name }}</td>
                <td>{{ park.attendant_email }}</td>
                <td>{{ park.attendant_phone }}</td>
                <td>{{ park.park_address }}</td>
                <td>{{ park.city }}</td>
                <td>{{ park.state }}</td>
                <td>{{ park.zipcode }}</td>
                <td><a href="{% url 'properties' pk=park.pk %}" class="btn btn-warning">View Properties</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>

{% endblock %}
