{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="row">
        <h2><br>Change Password <br><br></h2>
  </div>
  <div class="row">

          <p>Enter your email address below, and we'll email instructions for setting a new one.<br><br></p>
      <div class="col-md-4">
          <form action="." method="post">
                  {% csrf_token %}
                  {{ form|crispy}}
          <div style="text-align: left;">
                    <button type="submit" class="save btn btn-primary">Send e-mail</button>
          </div>
          </form>
      </div>
      <div class="col-md-8"></div>

  </div>
{% endblock %}